[user]
	email = alice@gigantic.computer
	name = Alice Davis

[include]
	path = $HOME/.gitconfig-resources/themes.gitconfig

[core]
	editor = nvim
	excludesfile = /Users/alice/.gitignore
	pager = delta

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[diff]
	colorMoved = default

[commit]
	template = /Users/alice/.gitconfig-resources/template.commit-msg.md

[merge]
	tool = vimdiff
	conflictstyle = diff3

[difftool]
	prompt = false

[mergetool "nvim"]
	keepBackup = false
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[delta]
	side-by-side = true
	syntax-theme = gruvbox-light  # light
	features = side-by-side line-numbers hoopoe # light
	#syntax-theme = gruvbox-dark  # dark
	#features = side-by-side line-numbers collared-trogon # dark
	whitespace-error-style = 22 reverse

[alias]
	log-tree = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	log-tree-time = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	hist = log --graph --date-order --date=short --pretty=format:'%C(auto)%h%d %C(reset)%s %C(bold blue)%ce %C(reset)%C(green)%cr (%cd)'
